<style>
  .fc-section-mw1280 {
    max-width: 1280px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 24px;
    width: 90%;
  }
  .fc-tc-row {
    margin: 0 -8px;
    overflow: hidden;
  }
  .fc-col {
    padding: 0 8px;
    /*border: 1px solid #acab11;*/
  }
  .fc-nth-column-2-3 {
  	width: 68%;
    min-width: 720px;
    padding-left: 24px;
    float: right;
  }
  .fc-col-md-6 {
  	width: 50%;
    float: left;
  }
  .fc-col-nth-1 {
    width: auto;
    overflow: hidden;
  }
  .fc-col-nth-1 img {
    max-width:100%;
    max-height:100%;
  }
  .fc-col-inner {
  	margin: 8px;
  }
  .fc-tc-img-container {
    padding: 0;
  }
  .fc-hiw-item {
    margin-top: 32px;
    overflow: hidden;
  } 
  .fc-hiw-item h4 {
    padding: 8px 0 4px 0;
  } 
  .fc-hiw-item p {
    padding: 0;
  } 
  .fc-hiw-icon,
  .fc-hiw-text {
    display: inline;
    float: left;
  }
  .fc-hiw-icon {
    width: 15%;
    text-align: center;
    font-size: 2em;
  }
  .fc-hiw-text {
    width: 85%;
    padding-left: 24px;
  }  
  .fc-app-icons a img {
  	max-width: 38%;
  }
  @media screen and (max-width: 900px) {
    .fc-hide-xs .fc-tc-img-container {
      padding-top: 24px;
    } 
  	.fc-nth-column-2-3 {
      width: 100%;
      min-width: unset;
      padding-left: 0;
    }
    .fc-col-nth-1 {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .fc-col-md-6 {
  	  width: 100%;
  	}
    .fc-app-icons {
      text-align: center;
    }
    .fc-app-icons a img {
      max-width: 45%;
    }
    .fc-col-nth-1,
    .fc-col-nth-2,
    .fc-col-nth-3 {
      min-width: none;
      width: 100%;
      display: block;
    }
  }
</style>

<div class="fc-section-mw1280 fc-ph-8">
  <div class="fc-tc-row">
    
    <div class="fc-nth-column-2-3">
      <div class="fc-col fc-col-md-6 fc-col-nth-2">
        <div class="fc-col-inner">
          <h2 class="fc-mv-32 fc-lh-13">
Filo is a small<br>
device that helps<br>
you to never forget<br>
or lose what matters<br>
most to you,<br>
with a simple<br>
app on your phone.
          </h2>

          <div class="fc-app-icons">
            <div class="fc-tc-img-container fc-show-xs">
        		<img src="https://cdn.shopify.com/s/files/1/2199/1049/files/fc_filo_tag_iphone.png" alt="Filo and Iphone App">
        	</div>
            <p class="fc-hide-xs" style="margin-top:56px; padding-top: 16px; text-decoration: underline; font-weight: normal;">
              <a class="fc-black" href="https://filotrack.com/pages/how-it-works-1">Learn more</a>
          	</p>
            <div>
            <a href="https://itunes.apple.com/it/app/filo-find-locate-what-you-care-about/id950467121?mt=8" target="_blank">
              <img alt="APPLE STORE" src="//cdn.shopify.com/s/files/1/2199/1049/files/Download_on_the_App_Store_Badge_US-UK_135x40_c4035894-3d5b-46b1-90cb-8afa0da1bc3b_x50.png">
            </a>&nbsp;<a href="https://play.google.com/store/apps/details?id=com.filotrack.filo&amp;hl=it&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank">
              <img alt="ANDROID" src="//cdn.shopify.com/s/files/1/2199/1049/files/google-play-badge_copia_x50.png">
            </a>
            </div>
          </div>    
        </div>
      </div>

      <div class="fc-col fc-col-md-6 fc-col-nth-3">
        <div class="fc-col-inner fc-fs-24">

          <div class="fc-hiw-item">
           <div class="fc-hiw-icon fc-icon-key fc-icon-font"></div>
           <div class="fc-hiw-text">
             <h4>Attach it</h4>
             <p>
               Simply attach Filo<br>
to the important things you don’t want<br>
to lose or forget.

             </p>
           </div>          
          </div>

          <div class="fc-hiw-item">
           <div class="fc-hiw-icon fc-icon-sound-filo fc-icon-font"></div>
           <div class="fc-hiw-text">
             <h4>Ring it</h4>
             <p>
               Connect Filo to the Filo app<br>
and ring your connected<br>
items from your phone.<br>

             </p>
           </div>          
          </div>

          <div class="fc-hiw-item">
           <div class="fc-hiw-icon fc-icon-map fc-icon-font"></div>
           <div class="fc-hiw-text">
             <h4>Find it</h4>
             <p>
               Quickly find your lost valuables or<br>
remind yourself where you<br>
last left them.
             </p>
           </div>          
          </div>
        </div>
        
        <a class="fc-show-xs button inverse fc-right-button" style="margin-top: 40px; width: 100%" href="https://filotrack.com/pages/how-it-works-1">
          <span>learn more</span>
        </a>
      </div>
    </div>
    
    <div class="fc-col fc-col-nth-1">
      <div class="fc-col-inner fc-hide-xs">
        <div class="fc-tc-img-container">
        	<img src="https://cdn.shopify.com/s/files/1/2199/1049/files/fc_filo_tag_iphone.png" alt="Filo and Iphone App">
        </div>
      </div>
    </div>
    
  </div>
</div>