<style>
  .fc-jd-title {
  	text-transform: uppercase;
    font-style: italic;
    padding: 16px 0 8px 0;
  }
  .fc-jd {
  	padding-top: 48px;
  }
  .fc-jd li {
  	margin: 0 0 8px 0;
  }
  .fc-jd ul {
  	margin: 0 0 0 0;
  }
  .fc-jd ul,
  .fc-jd p {
  	padding: 8px 0;
  }
</style>

<div class="fc-jd">
  
<div class="fc-pv-24">

  <p>
  	In Filo we strongly believe that what we love must always be next to us.
  </p>
  <p>
    This is why we created Filo, a small device that helps people find what they love.<br/>
    Founded in 2014, Filo is an Italian startup that has raised € 560k of investment,
    releasing around 150,000 products on the market in just 3 years. In December 2017 we released Filo Tag,
    designed by one of the top Italian designers (Emanuele Pizzolorusso), and we sold out the product in 2 weeks.
  </p>
  <p class="fc-emph1">
    why work in Filo?
  </p>
  <p>
    Today the team counts 16 people and the business is growing rapidly.
    The goal we will pursue is to make Filo an international reality as early as this year.<br/>
    Working in Filo means not only being able to seize an opportunity but also being able to
    face a tough challenge. You will notice that working in a product startup is not for everyone,
    but at the same time, it will make you grow exponentially.<br/>
    In few words, Working in Filo will be the best experience of your life.
  </p>
</div>

<div class="module-title">
  <h3>Job Positions</h3>
</div>

<div class="fc-pv-24">
  	<p>
  		There are currently no vacancies available.
	</p>
  	<p>
    	However, we are always keen to meet bright and talented people who would like to join our team.
	</p>
	<p>
		If you wish to be considered for any future positions, please send your CV and covering letter to: <a class="fc-filo" href="mailto:jobs@filotrack.com">jobs@filotrack.com</a>
  	</p>
</div>



{% comment %}
<div class="fc-pv-24">
  <p class="fc-emph1">junior international sales account for French and/or German markets</p>
  
  <p>
    Filo is looking for a French &/or German speaking junior international sales account to manage the French and German market.
  </p>
  <div class="fc-pv-16">
    <div class="fc-jd-title">The ideal candidate will have the following skills:</div>
    <ul>
      <li>
        Fluency in French and/or German, spoken and written (priority will be given to French mother-tongue candidates for the French market).</li>
      <li>
        Good level of English, written and spoken.
      </li>
      <li>
        Basic negotiation & sales skills.
      </li>
      <li>
        Strongly goal-oriented and determined.
      </li> 
      <li>
        Flexible and eager to learn. 
      </li>
      <li>
        A plus, basic knowledge of Italian will be appreciated.
      </li>
    </ul>
  </div>
  
  <div class="fc-pv-16">
    <p>
      The candidate will work directly with our Head of Sales, Rosario (20+ years sales experience). He/She will learn how to manage negotiations from beginning to end, how to successfully close deals and drive revenue.
    </p>
    <p>
      Training: 1/2 weeks induction and 4/6 weeks training on the job.
    </p>
    <p>
      A starting period will be as a paid internship, with the end goal for a full time position at Filo.
    </p>
  </div>
  <div class="fc-pv-16">
    <div class="fc-jd-title">Company profile</div>
    <p>
      Filo produces a customisable bluetooth tracker, used mostly as a keyfinder and often used by Promotional Agencies and companies for their corporate events and/or business gifts. The candidate will work on inbound (leads generated from our marketing campaigns) and outbound (Biz Dev) activities onto the market assigned (France or Germany) starting from the simpler deals with Companies up to the most complex negotiations (Major Companies/Agencies). Short business trips may occur during the year (2 or 3 mostly for Trade Fairs in the assigned markets).
    </p>
    <p>
      Please send your application and CV to <span class="fc-emph2">jobs@filotrack.com</span> with the following subject line: <span class="fc-emph2">Junior International Sales Account</span>
    </p>
  </div>
  {% endcomment %}
  
  {% comment %}
  <div class="fc-pv-16">
    <p>
      <a class="fc button fc-green-button" href="mailto:jobs@filotrack.com"> APPLY NOW </a>
    </p>
  </div>
  {% endcomment %}
  
</div>


{% comment %}
<div class="fc-pv-24">
  <p class="fc-emph1">social media manager</p>
  
  <div>
  <div class="fc-jd-title">skills</div>
    <ul>
      <li>identify relevant and <span class="fc-emphh2">measurable</span> KPIs
        related to the key social platforms (Facebook, Twitter, Linkedin, G+, Instagram, Pinterest);
      </li>
      <li>
        define and execute a <strong>measurable</strong> social strategy with the goal of increasing defined KPIs;
      </li>
      <li>
        define and schedule publications on said platforms according to an appropriately planned digital calendar;
      </li>
      <li>
        define a strategic position for the Filo brand on said platforms;
      </li>
      <li>
        create regular reports and analyses of performance relative to the KPIs;
      </li>
    </ul>
  </div>

  <div>
    <div class="fc-jd-title">required</div>
    <ul>
      <li>
        availability to work at Pi Campus, EUR (Rome - Italy)
      </li>
      <li>
        extensive experience managing at least one company profile through one of the listed platforms;
      </li>
      <li>
        ability to work in a team;
      </li>
      <li>
        ability to work towards set goals.
      </li>
    </ul>
  </div>
  
  <div>
    <div class="fc-jd-title">contract type</div>
    <ul>
      <li>
        Part-time with RAL: to be defined on hiring according to the abilities demonstrated by the Social Media Marketer.
      </li>
    </ul>
  </div>
  
  <div>
    <p>
      <a class="fc button fc-green-button" href="mailto:jobs@filotrack.com"> APPLY NOW </a>
    </p>
  </div>
  
</div>

<div class="fc-pv-24">
  <p class="fc-emph1">Head of B2B Marketing</p>
  
  <div>
  <div class="fc-jd-title">Responsibilities</div>
    <p>
      As Head of B2B Marketing, you will be fully responsible for generating a
      significant increase in turnover related to the company's B2B sector.
    </p>
    <p>
      This goal will require working mainly in the sales cycle,
      especially in the lead generation phase.
    </p>
    <p>
      You will personally take care of:
    </p>
    <ul>
      <li>
        design the Filo corporate website;
      </li>
      <li>
        design Inbound Marketing strategies focused on Filo's corporate website;
      </li>
      <li>
        build, manage and grow the company blog dedicated to the B2B world.
      </li>
    </ul>
    <p>
      For this purpose, your job position will require working closely with the CMO and the web development department.
    </p>
    <p>
      In addition, you will work continuously with the sales department analyzing all
      the possibilities to improve the sales cycle, also by intervening on the steps
      following the lead generation.
    </p>
  </div>

  <div>
    <div class="fc-jd-title">Requirements</div>
    <ul>
      <li>
        lead generation, qualification, management, nurturing &amp; enrichment;
      </li>
      <li>
        sales enablement;
      </li>
      <li>
        retention, reactivation, and win-back;
      </li>
      <li>
        KPI analysis &amp; reporting.
      </li>
    </ul>
    
    <p>
      In detail, the profile must have at least 2 years of experience in the Digital Marketing sector.
    </p>
  </div>
  
  <div>
    <div class="fc-jd-title">Skills</div>
    <ul>
      <li>
        Intermediate knowledge of Wordpress or Shopify;
      </li>
      <li>
        Have managed and made a blog grow (demonstrating the traction and strategy adopted);
      </li>
      <li>
        Advanced copywriting knowledge;
      </li>
      <li>
        Intermediate knowledge of SEO;
      </li>
      <li>
      	Intermediate knowledge of Facebook adv & Google Adwords;
      </li>
      <li>
        Email marketing & automation;
      </li>
      <li>
        Advanced knowledge of Google Analytics;
      </li>
      <li>
        Intermediate knowledge of Excel and Google Sheet;
      </li>
      <li>
        Fluent English level.
      </li>
    </ul>
    
    <p>
    	They constitute a preferential requirement: basic knowledge of at least,
    </p>
  
    <ul>
      <li>
        HTML / CSS;
      </li>
      <li>
        Javascript;
      </li>
      <li>
        JQuery;
      </li>
      <li>
        PHP;
      </li>
      <li>
      	Advanced knowledge of Linkedin;
      </li>
      <li>
        Basic knowledge of Active Campaign.
      </li>
    </ul>
    
    <p>
      A full-time commitment is required at our Pi Campus office.
    </p>
  </div>
  
  <div>
    <div class="fc-jd-title">contract type</div>
    <ul>
      <li>
        Full-time with
        <span class="fc-emph2">
      		RAL: €22k - €30k depending on the experience
    	</span>.
      </li>
    </ul>
  </div>
  
  <div>
    <p>
      <a class="fc button fc-green-button" href="mailto:jobs@filotrack.com"> APPLY NOW </a>
    </p>
  </div>
  
</div>
{% endcomment %}

</div>



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
