<div class="module-wrapper">
<div class="module module-default-page">
<div class="module-header page-header">
	<div class="module-title page-title">
		<h1>{{ page.title }}</h1>
	</div>
</div>

<div class="module-body page-body rte fc-gray-4 fc-devices" style="padding:0;">
	{{ page.content }}
    
    <div>
		<h2 class="fc-emph2">
			Compatibility Requirements
		</h2>
		<div>
			Filo is compatible with devices that have:
			<ul>
				<li>
					iOS (version 11 or later) and Android (version 4.4 or later)
				</li>
				<li>
					Bluetooth Low Energy 4.0 or later
				</li>
			</ul>
		</div>
      	<div>
        	If your device supports the above features there is a high probability that it will work with Filo. The list of compatible models with Filo increases everyday, thanks to the help of our users.
      	</div>
	</div>

    <div>
        <h2 class="fc-emph2">
            Supported Devices 
        </h2>
        <div>
            Our application is regularly tested with every update on Android and iOS devices listed below to make sure that Filo works properly.<br>
            Don’t worry if your device is not listed; if it has the minimum compatibility requirements listed above it is probable that Filo will work correctly and we will be able to offer you any technical support necessary. For more information regarding a specific model that is not listed below please feel free to write us at <a href="mailto:help@filotrack.com">help@filotrack.com</a>.
        </div>
    </div>

    <div>
        <h2 class="fc-emph2">
            iOS
        </h2> 
        <div>
            iOS devices (version 11 or later) with Bluetooth 4.0 and later
        </div>
        <div>
	        <h3 class="fc-emph2">
	            iPhone
	        </h3>
	        <div>
	            <ul>
	                <li>
	                    iPhone 5s
	                </li>
	                <li>
	                    iPhone SE (1st and 2nd generation)
	                </li>
	                <li>
	                    iPhone 6
	                </li>
	                <li>
	                    iPhone 6 Plus 
	                </li>
	                <li>
	                    iPhone 6s
	                </li>
	                <li>
	                    iPhone 6s Plus
	                </li>
	                <li>
	                    iPhone 7
	                </li>
	                <li>
	                    iPhone 7 Plus
	                </li>
	                <li>
	                    iPhone 8
	                </li>
	                <li>
	                    iPhone 8 Plus
	                </li>
	                <li>
	                    iPhone X
	                </li>
	                <li>
	                    iPhone XR
	                </li>
	                <li>
	                    iPhone XS
	                </li>
	                <li>
	                    iPhone XS Max
	                </li>
	                <li>
	                    iPhone 11
	                </li>
	                <li>
	                    iPhone 11 Pro
	                </li>
	                <li>
	                    iPhone 11 Pro Max
	                </li>
	                <li>
	                    iPhone 12
	                </li>
	                <li>
	                    iPhone 12 mini
	                </li>
	                <li>
	                    iPhone 12 Pro
	                </li>
	                <li>
	                    iPhone 12 Pro Max
	                </li>
	        	</ul>
	        </div>
    	</div>
        <div>
	        <h3 class="fc-emph2">
	          iPad
	        </h3>
	        <div>
				<ul>
					<li>
					  iPad 3rd, 4th, 5th, 6th, 7th, 8th generation
					</li>
					<li>
					  iPad Air
					</li>
					<li>
					  iPad Air 2
					</li>
					<li>
					  iPad Pro 1st, 2nd, 3rd, 4th generation
					</li>
					<li>
					  iPad mini 2nd, 3rd, 4th, 5th generation
					</li>
				</ul>
	      	</div>
      	</div>
		<div>
			<h3 class="fc-emph2">
				Apple Watch
			</h3>
			<div>
				<ul>
					<li>
						series 0, 1, 2, 3
					</li>
				</ul>
			</div>
		</div>
	</div>



    <div>
        <h2 class="fc-emph2">
            Android
        </h2> 
        <div>
            Android devices (version 4.4 or later) with Bluetooth 4.0 or later
        </div>
        <div>
	        <h3 class="fc-emph2">
	            Android smartphone
	        </h3>
          <p>Every update we test Filo App on following Smartphones</p>
	        <div>
	            <ul>
	                <li>
	                    Google Pixel 3a
	                </li>
	                <li>
	                    Samsung Galaxy S20 plus
	                </li>
	                <li>
	                    Samsung Galaxy S9
	                </li>
	                <li>
	                    Samsung Galaxy S8 
	                </li>
	                <li>
	                    Samsung Galaxy S6 Edge
	                </li>
	                <li>
	                    Samsung Galaxy S5
	                </li>
	                <li>
	                    Samsung Galaxy S4 mini
	                </li>
	                <li>
	                    Samsung Galaxy A40
	                </li>
	                <li>
	                    Samsung Galaxy A20e
	                </li>
	                <li>
	                    Samsung Galaxy A10
	                </li>
	                <li>
	                    Samsung Galaxy A8
	                </li>
	                <li>
	                    Samsung Galaxy A7
	                </li>
	                <li>
	                    Samsung Galaxy Grand Neoplus
	                </li>
	                <li>
	                    Samsung Galaxy Note 3
	                </li>
	                <li>
	                    Huawei P30
	                </li>
	                <li>
	                    Huawei Mate 20 lite
	                </li>
	                <li>
	                    Huawei p9 lite
	                </li>
	                <li>
	                    Huawei P8 lite (v. 2017)
	                </li>
	                <li>
	                    Huawei P7 Ascend
	                </li>
	                <li>
	                    Xiaomi Mi A9
	                </li>
	                <li>
	                    Xiaomi Mi A3
	                </li>
                    <li>
                          Xiaomi Mi A2
                    </li>
                    <li>
                          Oppo A5
                    </li>
                    <li>
                          HTC One
                    </li>
                    <li>
                          Nexus 5
                    </li>
                    <li>
                          OnePlus One
                    </li>
	        	</ul>
	        </div>
    	</div>
      	<div>
	        <h3 class="fc-emph2">
	          Not Compatible Android devices
	        </h3>
	        <div>
				<ul>
					<li>
						Sony Xperia series Z, M
					</li>
					<li>
						Samsung S3 neo, S3, S3 mini
					</li>
					<li>
						Samsung Galaxy J3
					</li>
				</ul>
	      	</div>
      	</div>
	</div>


    <div>
        <h2 class="fc-emph2">
            Not Supported Devices
        </h2> 
        <div>
            <span class="fc-emph2">Windows</span> devices aren’t supported
        </div>
      	<div>
			<span class="fc-emph2">Blackberry</span> devices aren’t supported 
        </div>
        <div>
              <span class="fc-emph2">Huawei</span> devices without Google services aren’t supported 
          </div>
	</div>
  
  <div>
    <h2 class="fc-emph2">
    	Not Available for App Gallery
    </h2>
  </div>
    
</div>
</div>
</div>

<style>
  .fc-devices ul {
  	padding-left: 32px;
  }
  .fc-devices ul li {
  	margin: 8px 0;
  }
  .fc-devices h3 {
  	margin: 24px 0 8px 0 ;
  }
  .fc-devices h2 {
  	margin: 32px 0 8px 0 ;
  }
</style>