
{% comment %}
<div class="module-wrapper fc-how-it-works">
  <div class="module module-default-page">
    <div class="module-header page-header">
      <!--<div class="module-title page-title">
        <h1>{{ page.title }}</h1>
      </div>
    </div>-->
    
  </div>
</div>
{% endcomment %}

  <div class="fc-about-us fc-js-trigger">
    {% section 'work-slideshow' %}  


    {% unless page.content == blank %}

    <div class="module-body page-body rte">
      {{ page.content }}
    </div>
    {% endunless %}

    <div class="module-body page-body rte">
      {% section 'work-whit-us-positions'%}
    </div>
    {% section 'fc-text-columns-3'%}
  </div>

