<div class="module-wrapper fc-how-it-works fc-tetstest">

  {% section 'uc-key-finder-alt-content'%}
  {% section 'uc-phone-finder-alt-content'%}

  <div class="fc-product-filotag-page-wrapper ">
    {% section 'template-product-filotag' %}
  </div>
</div>