<div class="fc-js-trigger">
	{% section 'filotag_bg_mob_img-1' %}
	{% section 'filotag_bg_mob_img-2' %}
	{% section 'filotag_bg_mob_img-3' %}
	{% section 'filotag-text-columns' %}
	{% section 'filotag_bg_mob_img-4' %}
  	<div id="video-filotag">
	  {% section 'filotag-full-width-video' %}
    </div>
</div>