
{% comment %}
<div class="module-wrapper">
  <div class="module module-default-page">
    <div class="module-header page-header">
      <div class="module-title page-title">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    {% unless page.content == blank %}
      <div class="module-body page-body rte">
        {{ page.content }}
      </div>
    {% endunless %}
  </div>
</div>
{% endcomment %}

<div class="fc-js-trigger">

  {% section 'corporate-gifts-alternate-top-ita' %}

  <!-- pure html featured on -->
  
  {% section 'corporate-gifts-text-column-1-ita' %}
  
  {% section 'corporate-gifts-bg_mob_img-1-ita' %}

  {% section 'corporate-text-col-icons-ita' %}

  {% section 'corporate-gifts-bg_mob_img-2-ita' %}  

  {% section 'corporate-third-slideshow-ita' %}

  <div id="askforaquoteform">
  	{% section 'corporate-module-contact-form-ita' %}
  </div>
  
</div>