
<div class="module-wrapper fc-bg-adroid" style="                                            
    background-image: url('//cdn.shopify.com/s/files/1/2199/1049/files/android-bg-2.png?13937085837502261353');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;">
  <div class="module module-default-page">
    <!--<div class="module-header page-header">
      <div class="module-title page-title">
        <h1>{{ page.title }}</h1>
      </div>
    </div>-->
    {% unless page.content == blank %}
      <div class="module-body page-body rte">
        {{ page.content }}
      </div>
    {% endunless %}

    <div class="module-title page-title">
	    <h1>Supported Android devices</h1>
    </div>
    <div class="content-box fc-ta-l">
      <div class="fc-mv-32">
        <h5><strong>1. Compatibility Requirements</strong></h5>
        <h5>For <strong>Android</strong> devices, Filo’s requirements for compatibility are the following:</h5>
        <h5>1. Android 4.4 or above</h5>
        <h5>2. Bluetooth Low Energy 4.0 or above</h5>
        <h5>If your device supports the above features there is a high probability that it will work with Filo.
          The list of compatible models with Filo increases everyday, thanks to the help of our users.
          For more information regarding a specific model that is not listed below please feel free to write us at&nbsp;<a href="mailto:help@filotrack.com" target="_blank">help@filotrack.com</a>.</h5>
      </div>

      <div class="fc-mv-32">
        <h5><strong>2. What Android devices have been tested?</strong></h5>
        Our application is regularly tested with every update on the Android devices listed below to make sure that Filo works properly.
        Don’t worry if your device is not listed; if it has the minimum compatibility requirements listed in point 1 it is probable that Filo will work correctly and we will be able to offer you any technical support necessary.

        <h5><span style="color: #000000;">Samsung:&nbsp;Galaxy&nbsp;S4 mini,&nbsp;Galaxy&nbsp;S5,&nbsp;Galaxy&nbsp;S6 Edge,&nbsp;Galaxy Grand Neoplus, Galaxy Note 3</span></h5>
        <h5><span style="color: #000000;">HTC:&nbsp;One</span></h5>
        <h5><span style="color: #000000;">OnePlus:&nbsp;One,&nbsp;X</span></h5>
        <h5><span style="color: #000000;">LG: G3, Nexus 5 (O.S. &gt;= 5.0.0)</span></h5>
        <h5><span style="color: #000000;">Motorola:&nbsp;Nexus 6</span></h5>
        <h5><span style="color: #000000;"><span style="color: #000000;">Huawei: Ascend P7 (O.S. &gt;= 5.0.0) , Ascend P8 (O.S. &gt;= 5.0.0)</span></span></h5>
      </div>

      <div class="fc-mv-32">
        <h5><strong>3. My smartphone is not listed among the tested devices, will Filo still work with my phone?</strong></h5>
        <h5>If your device is not listed above but it has the minimum compatibility requirements, ther is a high probability that it will work correctly with Filo.
          We are always available to provide technical support. For any doubts on your device do not hesitate to contact us at <a href="mailto:help@filotrack.com" target="_blank">help@filotrack.com</a>.</h5>
      </div>

      <div class="fc-mv-32">
        <h5><strong>4. Does Filo work with tablets?</strong></h5>
        <h5>Yes, assuming they also comply with the compatibility requirements listed above.</h5>
        <h5>For other devices, we cannot provide the same level of support for resolving any issues that arise.</h5>
      </div>

      <div class="fc-mv-32">
        <h5><strong>5. Is Filo for Android different from Filo for iOS?</strong></h5>
        <h5>No, the Filo product is the same for both.</h5>
      </div>

      <div class="fc-mv-32">
        <h5><strong>6. Do the iOS and Android apps have the same features?</strong></h5>
        <h5>Yes, the Android and iOS apps provide the same functionality and will be constantly updated to offer the same user experience for both Android and iOS users.</h5>
      </div>

      <div class="fc-mv-32">
        <h5><strong>7. Why can’t I find the Android app in the Play Store?</strong></h5>
        <h5>The Filo app requires a minimum of Android v4.4 to run. If it does not show up in the Play Store, this usually means your device is running an older version of Android.</h5><div class="essb_break_scroll"></div>		<div class="clear"></div>
      </div>
    </div>


    
  </div>
</div>