<div class="module-wrapper style-{{ section.settings.style }} {{ section.settings.custom_class }}"
     style="border-top: 1px solid rgb(227, 227, 227);">
  <div class="module side contact crop {% if contact-module-image == empty %}one-child{% endif %}">
    <div class="module-body">
      <div class="side-wrapper">
        <div class="side-section right">
          <div class="side-text-wrapper">
            <p class="fc-fs-r16 fc-pv-0">To get informations about Bulk Orders please contact
              <a href="mailto:sales@filotrack.com">sales@filotrack.com</a> or use this quick form:
            </p>
            <div class="bablic-hide-it">
            	<div class="formBuilder-wrapper">[powr-form-builder id=1fed5db7_1517579702]</div>
            </div>
            <div class="bablic-hide-en">
            	<div class="formBuilder-wrapper">[powr-form-builder id=38a016d5_1517582471]</div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
