    <style>
    .fc-featured-on {
    	background-color: #fff;
        padding: 8px 0;
	}
    .fc-featured-on-inner {
        margin: 0 8%;
      	text-align: center;
        min-height: 80px;
    	padding-top: 16px;
	}
    .fc-featured-on-text {
        width: 176px;
      	min-height 32px;
      	display: inline;
        padding: 0px 32px;
        float: left;
    }
    .fc-featured-on-logos {
      	padding: 0 32px;
      	height 4%;
      	min-height 5%;
      	display: inline;
        float: left;
      	text-align: center;
        /*background-image: url('https://cdn.shopify.com/s/files/1/2199/1049/files/fc-featured-on.png');
        background-size: contain;
        background-repeat: no-repeat;
      	background-position: center right;*/
    }
    .fc-featured-on-border {
       border-bottom: #b8b8b8 2px solid;
       padding: 16px 0 0 0;
       float: right;
       width: 100%;
    }
    .fc-featured-on-logos img {
      width: 100%;
    }
    @media screen and (max-width: 992px) {
      .fc-featured-on-text {
        font-size: 12px;
      }
    }
    @media screen and (max-width: 576px) {
      .fc-featured-on-inner {
        min-height: 64px;
    	padding-top: 0;
      }
      .fc-featured-on-text {
        width: 100%;
      }
      .fc-featured-on-logos {
        width: 100%;
        padding: 8px 0px;
      }
      .fc-featured-on-border {
       padding: 0;
	  }
    }
  </style>
  <div class="fc-featured-on">
    <div class="fc-featured-on-inner">
        <div class="fc-featured-on-text"><span>Featured on</span></div>      
        <div class="fc-featured-on-logos"><img class="show-xs"src="https://cdn.shopify.com/s/files/1/2199/1049/files/fc-featured-on-mob.png" alt="Featured on"><img class="hide-xs"src="https://cdn.shopify.com/s/files/1/2199/1049/files/fc-featured-on.png" alt="Featured on"></div>
      <div class="fc-featured-on-border"></div>
    </div>
  </div>