  <style>
    .fc-featured-on {
      	min-height: 88px;
    	background-color: #9d9ea1;
    	padding: 0 5%;
    	text-align: center;
	}
    .fc-logo-featured {
    	min-width: 20%;
    	padding: 24px 0;
    	float: left;
	}
    .fc-logo-featured img {
      height: 40px;
    }
    @media screen and (max-width: 992px) {
      .fc-logo-featured.fc-lf-2 {
        min-width: 50%;
    	padding: 8px 0;
      }
      .fc-logo-featured.fc-lf-1 {
        min-width: 25%;
    	padding: 8px 0;
      }
      .fc-logo-featured img {
        height: 24px;
      }
      .fc-featured-on {
        min-height: 96px;
     	padding: 8px 0;
     }
    }
  </style>

  <div class="fc-featured-on">
    <div class="fc-featured-on-inner">
      <div class="fc-logo-featured fc-lf-2">
        <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/repubblica_w.png?17659449343125045464" alt="REPUBBLICA">
      </div>
      <div class="fc-logo-featured fc-lf-1">
        <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/tg5_w.png?17659449343125045464" alt="TG5">
      </div>
      <div class="fc-logo-featured fc-lf-1">
        <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/tg1_w.png?17659449343125045464" alt="TG1">
      </div>
      <div class="fc-logo-featured fc-lf-2">
        <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/sole24ore_w.png?17659449343125045464" alt="SOLE-24ORE">
      </div>
      <div class="fc-logo-featured fc-lf-2">
        <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/startupitalia_w.png?17659449343125045464" alt="STARTUPITALIA">
      </div>
    </div>
  </div>