
<div class="fc-media2 fc-pv-16 fc-ta-c">
  <div class="fc-mv-8 fc-gray-4">
    Hanno parlato di noi
  </div>
  <div>
    <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/media_tg1_x64.png?15270819484308911702">
    <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/media_tg5_x64.png?15270819484308911702">
    <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/media_rai3_x64.png?15270819484308911702">
    <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/media_repubblica_x64.png?15270819484308911702">
    <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/media_radio24_x64.png?15270819484308911702">
    <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/media_sole24ore_x64.png?15270819484308911702">
  </div>
</div>

<style>
  .fc-media2 {
    background-color: rgba(255,247,248,1);
  }
  .fc-media2 img {
    margin: 16px;
    height: 64px;
  }
  @media screen and (max-width: 400px) {
  	.fc-media2 img {
    	height: 32px;
  	}
  }
</style>