<div class="fc-pch1" style="width: 100%;">
  <div style="max-width: 1200px; margin: auto; display:table;">
    <div class="fc-photo-block">
      <img class="fc-img1" src="https://cdn.shopify.com/s/files/1/2199/1049/files/FiloTag_app.png?5827925053202226512">
      <img class="fc-img2" src="https://cdn.shopify.com/s/files/1/2199/1049/files/FiloTag_8e4c77aa-66e9-434d-862c-34144f7ac2f8.png?5827925053202226512">
    </div>
    <div class="fc-pv-40 fc-ph-64 fc-text-block">
      <img class="fc-img-logo-filotag" src="https://cdn.shopify.com/s/files/1/2199/1049/files/filo-tag-logo.png?17501452020387888474">
      <h2 class="fc-fs-24 fc-mv-16 fc-emph2">Ritrovare ciò che ami è semplice</h2>
      <div class="fc-mv-40 fc-features">

        <div class="fc-feature-row">
          <div class="fc-icon">
            <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/Key_icon.png?11849753834474032634">
          </div>
          <div class="fc-text">
              Attacca Filo Tag ai tuoi oggetti.
          </div>
        </div>

        <div class="fc-feature-row">
          <div class="fc-icon">
            <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/Locate_Filo.png?15683364727170329401">
          </div>
          <div class="fc-text">
              Fai suonare Filo dall'app<br>
              e ritrovalo in pochi secondi.
          </div>
        </div>

        <div class="fc-feature-row">
          <div class="fc-icon">
            <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/phone_finder_icon.png?11849753834474032634">
          </div>
          <div class="fc-text">
              Premi il pulsante di Filo Tag<br>
              e fai suonare il tuo smartphone,<br>
            anchese in modalità silenzioso.
          </div>
        </div>

        <div class="fc-feature-row">
          <div class="fc-icon">
            <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/Last_seen_icon.png?11849753834474032634">
          </div>
          <div class="fc-text">
              Controlla nella mappa dell'app<br>
              dove hai dimenticato i tuoi<br>
              oggetti.
          </div>
        </div>

        <div class="fc-feature-row">
          <div class="fc-icon">
            <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/Cz_icon.png?11849753834474032634">
          </div>
          <div class="fc-text">
              Ricevi una notifica quando ti allontani<br>
              troppo dai tuoi oggetti.
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
  .fc-pch1 {
  	width: 100%;
    overflow: hidden;
    background-color: #eee;    
  }
  .fc-pch1 .fc-photo-block {
  	max-width: 40%;
    float: left;
    display: inline-block;
  }
  .fc-pch1 .fc-text-block {
  	width: 60%;
    float: left;
	padding-bottom: 0;
  }
  .fc-pch1 .fc-photo-block .fc-img1,
  .fc-pch1 .fc-photo-block .fc-img2 {
	max-height: 360px;
    display: block;
  }
  .fc-pch1 .fc-photo-block .fc-img2 {
  	margin-top: 16px;
  }
  .fc-pch1 .fc-text-block .fc-img-logo-filotag {
  	width: 50%;
    max-width: 240px;
  }
  .fc-pch1 .fc-text-block .fc-features .fc-feature-row {
    min-height: 0px;
    text-align: left;
  }
  .fc-pch1 .fc-text-block .fc-features .fc-icon,
  .fc-pch1 .fc-text-block .fc-features .fc-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    padding: 8px 0;
  }
  .fc-pch1 .fc-text-block .fc-features .fc-icon {
  	width: 15%;
    padding-right: 8px;
  }
  .fc-pch1 .fc-text-block .fc-features .fc-text {
  	width: 85%;
    padding: 20px 0;
  }
  @media screen and (max-width: 768px) {
	.fc-pch1 .fc-photo-block {
      max-width: 100%;
      width: 100%;
    }
    .fc-pch1 .fc-photo-block .fc-img1,
    .fc-pch1 .fc-photo-block .fc-img2 {
      float: left;
      width: 50%;
	  margin-top: 0;
    }
    .fc-pch1 .fc-photo-block .fc-img1 {
      padding-right: 8px;
    }
    .fc-pch1 .fc-photo-block .fc-img2 {
      padding-left: 8px;
    }
    .fc-pch1 .fc-text-block {
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
      text-align: center;
    }
    .fc-pch1 .fc-text-block h2 {
    	font-size: 16px;
    }
    .fc-pch1 .fc-text-block .fc-features .fc-icon {
      width: 20%;
      padding-right: 8px;
    }
    .fc-pch1 .fc-text-block .fc-features .fc-text {
      width: 80%;
      padding: 20px 0;
    }
  }
  
</style>