<div class="fc-pch2">
  <h2 class="fc-fs-r24 fc-ta-c fc-mv-24 fc-emph2">Aiutalo a tenere sempre con sé le cose a cui tiene.</h2>
  <div class="fc-pv-40 fc-ph-8 fc-text-block">
    <h2 class="fc-fs-r24 fc-mv-8 fc-emph2">Filo Tag x1
     <span style="text-decoration: line-through;">&nbsp;€34.90&nbsp;</span></h2>
    <h3 class="fc-fs-r20 fc-mv-8">Sconto 10% - solo 64 disponibili</h3>
    <div>
      <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/Filotag-nero.png?4645470380386283211">
    </div>
    <div class="fc-mv-8">
      Usa il 10% di sconto con il codice:<br>
      <span class="fc-emph2">auguri_papà</span>
    </div>
    <div class="fc-pv-8">
	    <a class="button regala_filo_tag" href="/products/filo-tag"><span>regala filo tag</span></a>
    </div>
  </div>
</div>

<style>
  .fc-pch2 {
  	width: 100%;
    overflow: hidden;
    background-color: #444;
    color: #fff;
    padding: 40px;
  }
  .fc-pch2 .fc-text-block {
  	width: 30%;
    min-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #fafafa;
    color: #444;
  }
</style>