<div class="fc-testimonial fc-pv-40 fc-ph-8 fc-ta-c">
  <img class="fc-pic" src="https://cdn.shopify.com/s/files/1/2199/1049/files/test_alessio.jpg?6776988819577107402">
  <div class="fc-mv-8 fc-emph3">Alessio</div>
  <img src="https://cdn.shopify.com/s/files/1/2199/1049/files/5stelle.png?6449544051070354434">
  <div class="fc-emph2">
  	Un'ottima idea regalo!
  </div>
  <div>
    Utile sia quando scordi dove hai lasciato il telefono,<br>sia se non ricordi dove hai parcheggiato l’auto!<br>Piccolo, design interessante e trendy.
  </div>
</div>

<style>
  @media screen and (min-width: 768px) {
    .fc-testimonial {
      padding-top: 16% !important;
    }
  }
  .fc-testimonial .fc-pic {
    border-radius: 50%;
    max-width: 96px;
  }
</style>